<% if current_user == nil %>
  <div class="home-img">
    <%= link_to image_tag("2.png"), new_user_session_path %>
  </div>

  <div class="log-in">
    <%= button_to 'Log in', new_user_session_path %>
    <br>
    <%= button_to 'Register', new_user_registration_path, :method => :get %>
  </div>
<% else %>
<%= link_to 'Library', uploads_path %>

<% end %>