// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-image: url("back.jpg");
    a:link {
        color: rgb(0, 225, 255);
    }
    a:visited {
        color: rgb(255, 244, 244);
    }
    a:hover { 
        color: rgb(152, 236, 222);

    }
.home-img{
    margin: auto;
    width: 70%;
    margin-top: 40px;
  
}
.log-in{
    float: right;
    margin-right: 20px
}
}
