// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
    border-collapse: collapse;
    margin: 0 auto;
    
}
table tr td{
    padding: 10px;
}

thead{
    text-align: left;
    background: #001f5e;
    color: #FFF;
}
thead th{
    padding:10px;
}

.list_line_even{
    background: #002368;
}
h1{
    margin-left: 40%;
    
}
.user-info{
    text-align: center;
}