<h1>Video Library</h1>
<% if current_user.role != 'User' %>
  <%= link_to "View Users", user_index_path %>
<% end %>
<br>

<%= link_to 'New upload', new_upload_path %>
<br>
<% @uploads.each do |upload| %>
  <div class="floating-box">
    <div class="video-name"> <%= upload.name %> </div>
    <%= link_to video_tag(upload.video.url(:medium), autobuffer: false, size: "300x200"), upload_path(upload) %>
  </div>
<% end %>