<p id="notice"><%= notice %></p>

<h1>Video Library</h1>

    <% @uploads.each do |upload| %>
      <br>
      <br> 
      <div class="floating-box">
      <div class="video-name"> <%= upload.name%> </div>
        <%= link_to video_tag(upload.video.url(:medium), autobuffer: false, size: "300x200"), upload_path(upload)  %>
        </div>
    <% end %>

<br>

<%= link_to 'New upload', new_upload_path %>
<div class="floating-box">Floating box</div>
<div class="floating-box">Floating box</div>
<div class="floating-box">Floating box</div>
<div class="floating-box">Floating box</div>
<div class="floating-box">Floating box</div>
<div class="floating-box">Floating box</div>
<div class="floating-box">Floating box</div>
<div class="floating-box">Floating box</div>